.cara-investasi-header {
	background-image: url("../../../images/content/umkm2.png");
	background-color: #fff;
	height: 570px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.cara-investasi-title {
	position: absolute;
	top: 8rem;
	left: 5rem;
	font-size: 3.5rem;
	font-weight: bold;
	color: black;
	font-variant-caps: normal;
	font-family: sans-serif;
}

.cara-investasi-description {
	position: absolute;
	top: 22.5rem;
	left: 5rem;
	font-size: 1.7rem;
}

.cara-investasi-button {
	position: absolute;
	top: 28rem;
	left: 5rem;
}

.cara-investasi {
	padding: 5rem;
	color: black;
}

.cara-investasi > .row > .title > h3 {
	color: black;
	font-size: 3rem;
	font-weight: bold;
}

.cara-investasi > .row > .description > p {
	font-size: 1.1rem;
	color: #6b6f82;
}

.card-cara-investasi {
	box-shadow: none !important;
	margin: 0;
}

.card-cara-investasi > .card-body {
	padding: 3rem;
}

.card-text.step-investasi {
	padding-left: 2rem;
}

.card-text.step-investasi > h4 {
	font-size: 1.4rem;
	font-weight: bold;
	color: #bf2d30;
}

.card-text.step-investasi > h3 {
	padding: 1rem 0;
	font-size: 30px;
}

.card-text.step-investasi > h3 {
	padding: 1rem 0;
	font-size: 2.8rem;
}

.card-text.step-investasi > p {
	font-size: 1.2rem;
	line-height: 1.5;
}

@media only screen and (max-width: 600px) {
	.cara-investasi-header {
		height: 230px;
		text-align: center;
		background-image: none;
	}
	.cara-investasi-content {
		left: 50% !important;
	}
}

@media only screen and (max-width: 767px) {
	.cara-investasi-header {
		height: 240px;
	}
	.cara-investasi-content {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 20%;
		transform: translate(-50%, -50%);
	}
	.cara-investasi-title {
		position: initial;
		font-size: 1.4rem;
	}
	.cara-investasi-description {
		position: initial;
		font-size: 1rem;
	}
	.cara-investasi-button {
		position: initial;
	}
	.cara-investasi {
		padding: 1rem;
	}
	.cara-investasi > .row > .title > h3 {
		font-size: 1.5rem;
	}
	.card-text.step-investasi > h3 {
		font-size: 1rem;
		padding: 0.1rem 0;
	}
	.card-text.step-investasi {
		padding-left: 1rem;
		margin-bottom: 1.5rem;
	}
	.card-text.step-investasi > p {
		font-size: 0.9rem;
		line-height: 1.4;
	}
	.card-cara-investasi > .card-body {
		padding: 0;
	}
	.card-cara-investasi {
		padding-top: 1rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.cara-investasi-content {
		left: 20%;
	}
	.cara-investasi-header {
		height: 430px;
	}
	.cara-investasi-title {
		top: 2rem;
		font-size: 2rem;
	}
	.cara-investasi-description {
		top: 10rem;
		font-size: 1.3rem;
	}
	.cara-investasi-button {
		top: 13rem;
	}
	.cara-investasi {
		padding: 2rem;
	}
	.cara-investasi > .row > .title > h3 {
		font-size: 2rem;
	}
	.card-text.step-investasi > h3 {
		font-size: 1.3rem;
	}
	.card-text.step-investasi > p {
		font-size: 1rem;
	}
	.cara-investasi-title {
		left: 3rem;
	}
	.cara-investasi-description {
		left: 3rem;
	}
	.cara-investasi-button {
		left: 3rem;
	}
}

@media only screen and (min-width: 1400px) {
	.cara-investasi-header {
		height: 800px;
	}
}
